<div ng-init="index = $parent.$index">
	<div class="btn" title="Toggle key"
		ng-click="nextScale()">
		{{ scales[chord.scale].label }}
	</div>
</div>
<div ng-repeat="cell in chord.degrees" ng-class="{ 'extended' : cell.extended }">
	<div class="btn" ng-class="{ 'active' : cell.isActive }"
		ng-mousedown="toggle($index)" ng-mouseup="afterToggle($index)" ng-mouseleave="afterToggle($index)"
		my-touchstart="toggle($index)" my-touchend="afterToggle($index)">
		<span ng-class="{ 'key' : cell.label == key }">
			{{ cell.label }}
		</span>
	</div>
</div>
<div>
	<div class="btn" ng-class="{ 'active' : chord.isActive }"
		ng-mousedown="play()" ng-mouseup="stop()"
		my-touchstart="play()" my-touchend="stop()">
		<i class="fa fa-play"></i>
	</div>
</div>